header {
    background-color:#E32636;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:32px;
    width:fit-content;
    padding:10px;
}
